@using WebApplication1.Services.Interfaces;
@inject IResourceService _service;
@{
    var contacts = _service.GetContactsInfo().Description;
    var categories =string.Join ("\n", _service
        .GetHomeInfo()
        .Contents
        .Select(x=> x.Name)
        .ToList());
}

<section class="u-clearfix u-container-align-center u-custom-color-5 u-section-4 customFooter" id="carousel_98a2" style="padding:3em">
    <div class="u-clearfix u-sheet u-sheet-1">
            <div class="home-max-width3 max-width-container">
                <footer class="home-footer1">
                <div class="home-container25" style="padding:0 3em 0 3em">
                        <h3 class="home-text198" style="font-size: 40px">
                            <span class="Heading-3">StudioMedia</span>
                            <br class="Heading-3" />
                            <span class="Heading-3">Group</span>
                            <br />
                    </h3>
                    
                    @* Configurate*@
                    <div style="white-space:pre-line;font-size: 20px">
                        @contacts
                        </div>
                    </div>
                <div class="home-links-container" style="padding:0 3em 0 3em">
                    <div class="home-container26" style="padding:0 3em 0 3em">
                        <h3>Categories</h3>
                            <div style="white-space:pre-line; font-size:23px">
                            @categories
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    <h6 style="text-align:center">Version 2.0</h6>
</section>