<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<body style="background-color:rgba(8,26,43,0.42);" data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode" data-lang="en">

	<div style="background-color:rgba(0,0,0,0.42);">
	<partial name="Components/Nav/_NavComponent" />
	@RenderBody()
    <partial name="Components/Footer/_FooterComponent" />
    
	</div>
</body>

<button onclick="topFunction()" id="myBtn" title="Go to top">Return to TopView</button>

</html>

<style>

	#myBtn {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		background-color: red;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 4px;
	}

		#myBtn:hover {
			background-color: #555;
		}
</style>
<script>
	// Get the button
	let mybutton = document.getElementById("myBtn");

	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () { scrollFunction() };

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			mybutton.style.display = "block";
		} else {
			mybutton.style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>